<html lang="en">
    {{> header}}
  <body>
    {{> navbar}}
    <div class="container-fulid">
      <h2>User Profile</h2>
      <img src="/images/Profile-Male-PNG.png" alt="" />
      <h3>Name: {{user.name}}</h3>
      <h3>Email: {{user.Email}}</h3>
    </div>
  </body>
</html>